<h1>Who we are?</h1>

<p>Explore different and some of the tastiest recipes from all over the world.</p>
<p>
Learn to cook food from the various delicious options available on the Website.
All the information about food, its Categories, and the ingredients required for cooking are available to you at your comfort of our Home.</p>
<h3>Feel free to Submit your own Recipe too :)</h3>
