<h1>Would love to hear from you!</h1>

<div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
  <p>Contact Us:</p>

  <div class="find-widget">
      Company:  <span>Doodloo Restaurant</span>
  </div>
  <div class="find-widget">
      Address: <span>Manipal University Jaipur</span>
  </div>
  <div class="find-widget">
      Phone:  <span>951090XXXX</span>
  </div>
  <div class="find-widget">
      LinkedIn:  <a href="https://www.linkedin.com/in/karma-soni-433253227/">Karma Soni</a>
  </div>
  <div class="find-widget">
      Email:  <span>karmahsoni@gmail.com</span>
  </div>
</div>
